<%- include('../includes/navbar.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../css/customers/front.css">
</head>
<body>
    <main class="container">
        <!-- Left Section -->
        <section class="left-section">
           <a href="/customerrs/details">My Details </a>
           <a href="/customerrs/product">Products</a> 
        </section>


        <!-- Center Section (Image) -->
        <section class="center-section">
            <img src="https://cdn.vectorstock.com/i/500p/53/99/cartoon-little-farmer-with-cow-and-milk-bucket-vector-51335399.jpg" alt="Milkman Illustration">
        </section>

        <!-- Right Section (Milkman Details) -->
        <section class="right-section">
            <h2>Customer Details</h2>
            <table>
                <tr>
                    <th>User Code</th>
                    <td><%=user.code%></td>
                </tr>
                <tr>
                    <th>User Name</th>
                    <td><%=user.name%></td>
                </tr>
                <tr>
                    <th>Dairy Code</th>
                    <td><%=user.dairyCode%> </td>
                </tr>
                <tr>
                    <th>Contact</th>
                    <td>+91 <%=user.mobile%> </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td><%=user.address%> </td>
                </tr>
               
            </table>
        </section>
    </main>


    <%- include('../includes/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if (typeof success !== 'undefined' && success.length > 0) { %>
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: '<%= success[0] %>'
        });
    </script>
<% } %>

<% if (typeof error !== 'undefined' && error.length > 0) { %>
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '<%= error[0] %>'
        });
    </script>
<% } %>

</body>
</html>